@import "../dist/webkit-sassui-ios-alert.scss";
*{
  margin:0;
  padding:0;
}

body{
  background: rgba(#000,0.5);
}

button{
  border: none;
  &:focus{
    outline: none;
  }
}

.button{
  border: none;
  background: #007aff;
  padding:14px;
  margin-bottom: 10px;;
  width:100%;
  color:#fff;
}
.test-webkit-sassui-ios-alert{
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  position: fixed;
}
